<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.strr.system.mapper.SysResourceMapper">
    <select id="listByUserId" resultType="com.strr.system.model.SysResource">
        select distinct t3.id, t3.name, t3.type, t3.path, t3.component, t3.title, t3.parent_id, t3.frame, t3.cache, t3.icon, t3.`order`,
          t3.visible, t3.perms, t3.remark, t3.status, t3.create_by, t3.create_time, t3.update_by, t3.update_time
        from sys_user_role t1 left join sys_role_resource t2 on t1.role_id = t2.role_id
        left join sys_resource t3 on t2.resource_id = t3.id
        where t1.user_id = #{userId}
    </select>
</mapper>